@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f0f0f0;
    font-family: 'Poppins', sans-serif;
}

/* Header Section */

.header-section {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar {
    height: 4rem;
    background-color: #2874f0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.flipkart-title {
    list-style: none;
    color: #fff;
    font-size: 21px;
    font-weight: 600;
    font-style: italic;
    cursor: pointer;
}

.nav-title-search-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-title-container {
    line-height: 20px;
}

.nav-title-container img {
    width: 10px;
    margin-left: 2px;
}

.explore {
    color: #dcdcdc;
    cursor: pointer;
}

.explore span {
    color: #ffe500;
}

.explore,
.explore span {
    font-weight: 300;
    font-size: 12px;
    font-style: italic;
}

.explore:hover {
    text-decoration: underline;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    border-radius: 2px;
    background-color: #fff;
    position: relative;
}

#search-box {
    outline: none;
    border: none;
    height: 35px;
    width: 30vw;
    text-indent: 10px;
    font-size: 15px;
    border-radius: 2px;
}

.search-icon-container {
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
}

#search-icon {
    color: #2874f0;
    font-size: 18px;
    cursor: pointer;
}

.cart-profile-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
    font-weight: 600;
    font-size: 15px;
    position: relative;
}

.cart-profile-container li,
a {
    list-style: none;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    letter-spacing: 1px;
}

.user-profile {
    position: relative;
    top: 12px;
}

#profile-section-elements {
    box-shadow: #32325d40 0px 2px 5px -1px, #0000004d 0px 1px 3px -1px;
    border-radius: 4px;
    background-color: #fff;
    position: absolute;
    left: -4rem;
    top: 2.5rem;
    width: 220px;
    display: none;
    cursor: pointer;
}

.user-profile:hover #profile-section-elements {
    display: block;
    z-index: 1;
    visibility: visible;
}

.user-profile:hover .dropdown-icon1 {
    visibility: visible;
}

.profile-elements {
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 15px 10px;
    box-shadow: 0 0 1px #c8c7c7;
}

.profile-elements i {
    color: #fff;
    background-color: #2874f0;
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
}

.profile-elements span {
    font-size: 14px;
}

.dropdown-icon1 {
    color: #fff;
    transform: rotate(-90deg);
    margin-left: 26px;
    visibility: hidden;
}

@media (max-width: 768px) {
    #search-box {
        width: 0px;
    }
}

/* Main Section */

.main-section {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin: 3.5rem 0 0 0;
    padding: 20px;
}

.cart-container-seperator {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.cart-containers {
    box-shadow: #00000033 0px 1px 2px 0px;
    width: 50vw;
    background-color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.cart-container-1 {
    height: 5vh;
    align-items: center;
    justify-content: space-around;
}

.flipkart,
.grocery {
    cursor: pointer;
}

.flipkart:hover,
.grocery:hover {
    color: #2874f0;
}

.pincode-container {
    display: none;
}

.pincode {
    align-items: center;
}

#delivery-pincode-btn {
    border: 1px solid #e0e0e0;
    background-color: #fff;
    border-radius: 4px;
    padding: 10px 16px;
    color: #2874f0;
    cursor: pointer;
    font-weight: 500;
}

#delivery-pincode-btn:hover {
    box-shadow: 0 0 2px #c8c7c7;
}

#empty-cart-elements-container {
    display: none;
}

#empty-cart-elements {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    margin-left: 15rem;
    text-align: center;
}

#empty-cart-elements span {
    font-size: 12px;
}

.empty-cart-img {
    height: 162px;
    margin-bottom: 1rem;
}

#cart-items-container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.cart-items {
    display: flex;
    gap: 3rem;
}

.item-img {
    width: 90px;
}

.add-quantity {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.minus,
.plus {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
}

.quantity {
    width: 50px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #e0e0e0;
}

.product-list-container {
    position: relative;
    padding-bottom: 7rem;
}

.saved {
    margin-bottom: 1rem;
}

.cart-qunatity {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-title {
    font-size: 1rem;
    font-weight: bold;
    max-width: 350px;
}

.size,
.seller {
    color: #878787;
    font-size: 0.9rem;
    font-weight: 400;
}

.seller {
    margin: 12px 0;
}

.price-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.offer-applied {
    color: #388e3c;
    margin-left: 5px;
    cursor: pointer;
    font-size: 14px;
}

.offer-info {
    width: 12px;
    height: 12px;
    background-color: #388e3c;
    color: #fff;
    border-radius: 50%;
    line-height: 12px;
    text-align: center;
    padding: 0.8px;
    font-size: 12px;
    cursor: pointer;
    rotate: 180deg;
}

.remove-item,
#stock-out-item-remove,
.save-item {
    margin-top: 2rem;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 400;
}

#stock-out-item-remove {
    max-width: fit-content;
}

.remove-item:hover,
#stock-out-item-remove:hover,
.save-item:hover {
    color: #2874f0;
}

.deliver-container {
    position: absolute;
    right: 2rem;
}

.deliver-info {
    font-size: 14px;
}

.shipment {
    color: #388e3c;
    margin: 0 5px;
}

.shipment-changes {
    text-decoration: line-through;
    color: #878787;
}

#place-order-btn {
    background: #fb641b;
    color: #fff;
    min-width: 15vw;
    padding: 16px 30px;
    border: none;
    border-radius: 2px;
    font-size: 16px;
    font-weight: 600;
    position: absolute;
    bottom: 1rem;
    right: 1.5rem;
    cursor: pointer;
}

#place-order-btn:hover {
    background-color: #2811da;
}

.stock-out-container-wrapper {
    box-shadow: #00000033 0px 1px 2px 0px;
    width: 50vw;
    background-color: #fff;
    padding: 1rem;
    width: 50vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.stock-out-container {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
}

#stock {
    font-size: 1.2rem;
    color: #ff6161;
    display: block;
    margin-top: 6px;
}

/* Product Cost Container */

.cost-container {
    box-shadow: #00000033 0px 1px 2px 0px;
    background-color: #fff;
    width: 30vw;
    padding: 0.2rem 1rem;
    line-height: 50px;
    margin-bottom: 2rem;
    position: relative;
}

.cost-container h3 {
    color: #878787;
    font-size: 15px;
    font-weight: 600;
}

.cost-container h4 {
    color: #212121;
    font-size: 15px;
    font-weight: 500;
}

.cost-container h2 {
    color: #212121;
    font-size: 16px;
    font-weight: 600;
}

.discount-container {
    display: flex;
    justify-content: space-between;
}

.total-discount {
    color: #008000;
}

.cost-placeholder-container,
.delivery-charge-container {
    display: flex;
    justify-content: space-between;
}

.total-cost-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    color: #000;
}

.shild-safe-container {
    position: relative;
    width: 30vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

/* Footer Section */

footer {
    border: 1px solid #e0e0e0;
    padding: 2rem 6rem;
    background-color: #f1f3f6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    font-size: 14px;
    color: #484646;
}

footer a {
    color: #484646;
}

.footer-div1 {
    display: flex;
    gap: 2.5rem;
    align-items: center;
}

.footer-list {
    display: flex;
    align-items: start;
    list-style: none;
    gap: 0.5rem;
}

#help-center,
#contact-us {
    color: #2874f0;
}

@media (max-width:1024px) {
    footer {
        padding:2rem 0.1rem;
        justify-content: center;
    }

    .footer-list {
        flex-direction: column;
    }
}

/* Media Query */

@media (max-width:768px) {
    #empty-cart-elements {
        margin: 0 auto;
    }
}

@media (max-width: 500px) {
    #delivery-pincode-btn {
        padding: 10px;
    }
    #saved-address {
        font-size: 0.9rem;
    }
}

@media (max-width:500px) {

    .product-title, .price {
        font-size: 0.9rem;
    }

    .size,
    .seller {
        font-size: 0.8rem;
    }

    .remove-item {
        font-size: 1rem;
        margin-top: 0.5rem;
    }
}

@media (max-width: 1024px) {

    .main-section {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .cart-containers {
        width: 88vw;
    }

    .cart-items {
        gap: 1rem;
    }

    .cost-container {
        width: 88vw;
    }

    .shild-safe-container {
        width: 88vw;
    }
}

@media (max-width:768px) {
    #place-order-btn {
        padding: 10px 20px;
    }
}

@media (max-width: 1024px) {

    .stock-out-container-wrapper {
        width: 88vw;
    }
}

@media (max-width: 1024px) {
    .cost-container {
        width: 88vw;
    }
}

@media (min-width: 1024px) {
    .main-section {
        margin: 5rem 0 1rem 1rem;
    }
}

@media (min-width: 1200px) {
    .cost-container {
        position: fixed;
        right: 4rem;
    }

    .shild-safe-container {
        position: fixed;
        top: 24rem;
        right: 6rem;
    }
}