*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f1f3f6;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-container {
  width: 350px;
  box-shadow: 0 0 10px #262626;
  background-color: #fff;
  border-radius: 5px;
  padding-bottom: 1rem;
  margin-top: 2rem;
}

.top-container {
  background-color: #357ae8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.8rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.top-container h1 {
  color: #fff;
  text-align: center;
}

.top-container p {
  color: #ddd;
  text-align: center;
  line-height: 25px;
}

.top-container img {
  width: 60%;
}

.form-container {
  padding: 0.8rem;
}

.form-input {
  margin: 20px auto;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #262626;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.btn {
  width: 100%;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background: #fb641b;
  box-shadow: 0 1px 2px 0 #00000033;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: #357ae8;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.links a {
  color: #262626;
  text-decoration: none;
  margin: 0 auto;
}

@media (min-width: 600px) {
  .main-container {
    width: 400px;
  }
}

@media (max-width: 290px) {
  .main-container {
    width: 270px;
  }
}